h1 {
 border: 2px solid #0f0;
 background-color: #234170;
 color: white
}

img {
 width: 32%;
}

#titulo {
 color: white;
 background-color: black
}

.estilo {
 color: white;
 background-color: black
}
