h1 {
 border: 2px solid #0f0;
 background-color: #234170;
 color: white
}

img {
 width: 32%;
}

#titulo {
 color: white;
 background-color: black
}

.estilo {
 color: white;
 background-color: black
}

.relativo
{

}

.absoluto
{
 top: 50px;
 left: 50px;
 width: 50px;
 height: 50px;
 background-color: red;
 position: absolute;
}

.fixo
{
 top: 20px;
 left: 20px;
 background-color: blue;
 position: fixed;
 opacity: 0.5;
}

